<!-- ======= Header ======= -->
<header id="header" class="fixed-top" style="padding-bottom: 15px;">
    <div class="container d-flex align-items-center">
  
        <h1 class="logo me-auto"><a href="/#home"><i>FRESHCUT</i></a></h1>
  
        <nav id="navbar" class="navbar">
            <ul>
                <li><a class="nav-link scrollto" href="/#home">Accueil</a></li>
                <li><a class="nav-link scrollto" href="/#tarifs">Tarifs</a></li>
                <li><a class="nav-link scrollto" href="/#contact">Nous joindre</a></li>
                <% if( isEmployeeLoggedIn(data.customer)){%>
                    <li><a class="nav-link scrollto" href="/indexAdmin">Panel Employé</a></li>
                <% } else { %>
                    <li><a class="nav-link scrollto" href="/reservation">Reservation</a></li>
                <% } %>
                <% if(!data.isClientLoggedIn){ %>
                <li><a class="nav-link scrollto" href="/connexion">Connexion</a></li>
                <li><a class="nav-link scrollto" href="/inscription">Inscription</a></li>
                <% } else { %>
                    <% if( isCustomerLoggedIn(data.customer)){%>
                        <li><a class="nav-link scrollto" href="/profil"><%= data.customer.username %></a></li>
                    <% } %>
                <li><a class="nav-link scrollto" href="/logout">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-box-arrow-right" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z"/>
                        <path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
                      </svg>
                </a></li>
                <% } %>
                


            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->
  
    </div>
  </header><!-- End Header -->