<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>FreshCut Barbershop</title>

  <link href="/img/favicon.png" rel="icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Jost:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link href="css/boxicons.min.css" rel="stylesheet">
  <!-- Template Main CSS File -->
  <link href="css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Arsha - v4.10.0
  * Template URL: https://bootstrapmade.com/arsha-free-bootstrap-html-template-corporate/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>
    <body>
        
    <%- include ('./header.ejs') %>

    <main id="main">

        <section id="inscription" class="tarifs d-flex align-items-center
          justify-content-center">
          <div class="container mx-auto">

            <div class="formParent">

              <div class="form_steps" style="height: 500px; position: relative;">
                <div class="step form_1 data_info">
                    <div class="row content mt-0 p-0 d-flex justify-content-center">
                      <div class="formulaire d-flex flex-column col-lg-7 pt-4 pt-lg-0">

                        <h3 class="text-center mb-3">Inscription</h3>

                        <%- include ('./inscriptionForm.ejs')%>
                      </a>
                    </div>
                  </div>
                </div>
            </div>
          </div>
        </section>
      </main>

      <%- include ('./footer.ejs') %>

      <!-- Vendor JS Files -->
      <script src="js/bootstrap.bundle.min.js"></script>

      <!-- Template Main JS File -->
      <script src="js/main.js"></script>

    </body>
</html>