<form action="./connexionAdmin" method="post">
                          
    <input type="text" class="form-control mb-3" placeholder="ID Permanent" aria-label="barber_id" name="barber_id" required>

    <input type="password" class="form-control mb-3" placeholder="Password" aria-label="Password" name="password" required>
    <br>
    <div class="d-flex justify-content-center">
      <button type="submit" class="btn btn-primary" style="width: 150px;">Connexion</button>
    </div><br>
    <a href="connexion" style="margin-left: 43%; margin-top: 10px;"><u>Client</u></a>

</form>