<div class="modal" id="mymodal">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <h2 class="modal-title">Supprimer une heure</h2>
            
            <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close" style="margin-right: 2%;"></button>
        </div><br>
        <div class="modal-body">
            <div>Voulez vous supprimer cette case horaire?
            <button type="button" onclick="supprimerHeure()" class="btn btn-primary" aria-label="Add" style="margin-left: 3%; outline: none;">
                Confirmer
            </button><br><br>
            </div>
        </div>
        </div>
    </div>
</div>

<div class="modal" id="addHours">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <h2 class="modal-title">Ajouter des heures</h2>
            
            <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close" style="margin-right: 2%;"></button>
        </div><br>
        <div class="modal-body">
            <div>

            </div>
            <button type="button" onclick="AddHours()" class="btn btn-primary center" aria-label="Add" style="margin-left: 3%; outline: none;">
                Confirmer
            </button><br><br>
        </div>
        </div>
    </div>
</div>

